:root {
    /**colors*/
    --SunsetOrange: #ff5c5f ;
    --Jacarta: #3a3d5c;
    --Gunmetal: #2d2e40;
    /**fonts*/
    --overall-fontsize: 62.5%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size:var(--overall-fontsize) }            
     /**16px *0.625 = 10 px conversion en base 10*/

body {
    font-size: 1.4 rem;  
    /** 14px; */ 
}

.main-container {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

/**Header*/

.header {
    background-color: var(--SunsetOrange);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__right {
    display: none;
}


/**Main*/
.main {
    flex-grow: 1;
    max-height: 100vh;
    height: 100vh;
}

/**footer*/

.footer {
    background-color: var(--Gunmetal);
}

/**Mediaqueries*/

/*Mobile First 
1. Todo lo que esté fuera de un media query es css enfocado al movil 

2. Los media queries van atacar al siguiente dispositivo mas grande

3. Las condiciones del media query deben atacar al ancho minimo (min width)

Desktop first 
1. Todo lo que esta fuera de un media query es CSS enfocado al desktop (el mas grande)
2. Las mediaqueries van atacar al siguiente dispositivo mas pequenio
3. Las condiciones del media query deben atacar el ancho maximo (max-width)*/

.container {
    border: 2px dotted blue;
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 8 px;
}
.container-fluid {
    border: 2px dotted orange;
    max-width: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}


/** Media queries */
@media ( min-width: 567px ) {
    .container {
        max-width: 56rem;
        padding: 0 1.6rem;
    }
}
@media ( min-width: 768px ) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
    .navbar__right {
        display: block;
    }
}
@media (min-width: 992px ) {
    .container {
        max-width: 980px;
        padding: 0 3.2rem;
    }
}
@media (min-width: 1200px ) {
        .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
}
