@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /**colors*/
    --SunsetOrange: #ff5c5f ;
    --Jacarta: #3a3d5c;
    --Gunmetal: #2d2e40;
    /**fonts*/
    --overall-fontsize: 62.5%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size:var(--overall-fontsize) }            
     /**16px *0.625 = 10 px conversion en base 10*/

body {
    font-size: 1.4 rem;  
    /** 14px; */ 
    font-family: "Inter", sans-serif;
    text-align: center;
}

.main-container {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

/**Header*/

.header {
    background-color: var(--SunsetOrange);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 8rem ;
    height: 8rem;

}

.logo-site {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
}
.navbar__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.icon-hamburguer {
    color: white;
    font-size: 2.4rem;
}

.navbar__right {
    display: none;
}

.menu-main {
    display: none;
}

.menu-authentication {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu-authentication .item-3 {
    display: none;
}

.btn {
    border: 1px solid yellow;
    padding: .6rem 1.2rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    text-decoration: none;
}

.btn-primary {
    background: white;
    border: 1px solid white;
    color: #ff5c5f;
}

.btn-outline-primary {
    border: 1px solid white;
    color: white;
}

.btn-secondary {
    border: 1px solid transparent;
    color: white;
}

/**Main*/
.main {
    flex-grow: 1;
}

/**Main: section call to action*/

.section-call-to-action {
    background-color: var(--SunsetOrange);
    display: flex;
    height: 44rem;
    border-radius: 0 0 0 12rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin: 4rem 0;
}

/**Main: section call to action*/

.content-designed-for-the-future {
    margin: 9rem 0;
}

.img-designed-for-the-future {
    max-width: 100%;
    width: 100%;
    margin-bottom: 8rem;
}

.content-designed-for-the-future p {
    /* color: blue; */
    text-align: left;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

.section-2 {
    width: 84% ;
    margin: 0 auto;
}

.section-designed-for-the-future {
    margin-top: 4rem;
}


/** Main: State of the art */

.section-state-of-the-art.section {
    margin: 25rem 0 0;
    color: white;
}

.bg-jacarta {
    background: var(--Jacarta);
    height: 53rem;
    border-radius: 0 12rem;
}

.content-state-of-the-art {
    height: 39rem;
}

.content-state-of-the-art .section-1 {
    display: flex;
    position: relative;
    top: -20rem;
}

.img-state-of-art {
    width: 100%;
    max-width: 100%;
}

.content-state-of-the-art .section-2 {
    position: relative;
    top: -21rem;
}

.content-state-of-the-art h2 {
    font-size: 3.7rem;
    font-weight: normal;
    text-align: center;
}

.content-state-of-the-art p {
    text-align: center;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

/**sectiontopics*/

.section-topics {
    margin-top: -4rem;
}

.content-sectiontopics {
    margin: 9rem 0;
}

.img-laptop-section-topics {
    max-width: 150%;
    width: 149%;
    margin-bottom: 3rem;
}

.content-sectiontopics p {
    text-align: center;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

.section-4 {
    width: 84%;
    margin: 0 -29rem 0 -4rem;
    display: flex;
}




/**footer*/

.footer {
    background-color: var(--Gunmetal);
    border-radius: 0 8rem 0 0;
    height: 76rem;
    color: white;
}

.containerfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logofooter {
    margin-top: 8rem;
}

.footer li {
    list-style: none;
}

.productfooter {
    margin: 3rem 4rem 0rem 0rem;
    line-height: 2.5rem;
}

.companyfooter {
    margin: 3rem 4rem 0rem 0rem;
    line-height: 2.5rem;
}

.connect {
    margin: 3rem 4rem 0rem 0rem;
    line-height: 2.5rem;
}


/**Mediaqueries*/

/*Mobile First 
1. Todo lo que esté fuera de un media query es css enfocado al movil 

2. Los media queries van atacar al siguiente dispositivo mas grande

3. Las condiciones del media query deben atacar al ancho minimo (min width)

Desktop first 
1. Todo lo que esta fuera de un media query es CSS enfocado al desktop (el mas grande)
2. Las mediaqueries van atacar al siguiente dispositivo mas pequenio
3. Las condiciones del media query deben atacar el ancho maximo (max-width)*/

.container {
    /* border: 2px dotted blue; */
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 .8rem;
}

.container-fluid {
    /* border: 2px dotted orange; */
    max-width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}


/** Media queries */
@media ( min-width: 567px ) {
    .container {
        max-width: 56rem;
        padding: 0 1.6rem;
    }
}

@media ( min-width: 768px ) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
    /** Header */
    .navbar__left {
        flex-basis: 15rem;
    }
    .navbar__center {
        flex-grow: 1;
    }
    .navbar__right {
        display: block;
        flex-basis: 15rem;
    }
    .menu-main {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    .icon-hamburguer {
        display: none;
    }    
    /** Main: Section Designed for the Future */

    .section-designed-for-the-future {
        margin-top: 10rem;
    }
    .section-designed-for-the-future .section-1,
    .section-designed-for-the-future .section-2 {
        flex: 1;
    }
    .content-designed-for-the-future {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
    /** Main: Section State of the art  */
    .bg-jacarta {
        height: 38rem;
        display: flex;
        align-items: center;
        margin-top: -8rem;
    }
    .content-state-of-the-art {
        display: flex;
        /* color: orange; */
        /* border: 3px solid orange; */
        justify-content: center;
        align-items: center;
        max-width: px;
        margin: 0 auto;
    }

    .content-state-of-the-art .section-1 {
        display: flex;
        /* position: relative; */
        top: -1rem;
        /* border: 3px solid yellow; */
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .img-state-of-art {
        width: 103%;
        max-width: 437px;
    }

    .content-state-of-the-art .section-2 {
        /* position: relative; */
        top: -1rem;
        /* height: 19rem; */
        flex: 1;
        /* width: 83%; */
        padding: 1rem;
    }
    .content-state-of-the-art h2 {
        font-size: 3.7rem;
        font-weight: normal;
        text-align: left;
    }
    
    .content-state-of-the-art p {
        text-align: left;
        line-height: 1.9rem;
        font-size: 1.2rem;
    }

    .section-state-of-the-art.section {
        margin-top: 10rem;
    }
    .section-state-of-the-art .section-4,
    .section-state-of-the-art .section-5 {
        flex: 1;
    }

    .section-topics {
        margin-top: 11rem;
    }
    .content-sectiontopics {
        display: flex;
        gap: 47rem;
        align-items: center;
        /* justify-content: flex-end; */
        /* flex-direction: row; */
    }

    img.img.img-laptop-section-topics {
        max-width: 285%;
        width: 241%;
        margin-left: -29rem;
    }
    .content-sectiontopics .section-5 {
        text-align: left;
        margin-right: 13rem;
    }

    .content-sectiontopics .section-5 p {
        text-align: left;
    }

    .footer {
        background-color: var(--Gunmetal);
        border-radius: 0 8rem 0 0;
        height: 26rem;
        color: white;
    }

    .containerfooter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 29rem;
    }

    .logofooter {
        margin-top: -9rem;
        margin-left: -10rem;
    }

    .productfooter {
        margin: 5rem -10rem 0rem -9rem;
        line-height: 2.5rem;
    }

    .companyfooter {
        margin: 3rem -10rem 0rem 0rem;
        line-height: 2.5rem;
    }

    .connect {
        margin: 1rem 4rem 0rem 0rem;
        line-height: 2.5rem;
    }

}

@media (min-width: 992px ) {
    .container {
        max-width: 98;
        padding: 0 3.2rem;
    }
}
@media (min-width: 1200px ) {
        .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
}
